version: '3'
services:
  app:
    build: .
    ports:
      - "7575:7575"
    volumes:
      - ./db:/app/db
      - ./logs:/app/logs
      - ./public/uploads:/app/public/uploads
    environment:
      - NODE_ENV=production